
		body{
			margin:0;
			font-family: Arial,Helvatica,Sans-serif;
			background-color: #ddd;

		}

		.topnav{
			overflow: hidden;
			background-color: #333;
		}
		.topnav a{
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;

		}
		.topnav a:hover{
			background-color: #ddd;
			color: black;
		}
		.topnav a.active{
			background-color: #4CAF50;
			color: white;
		}
	


		* {
		  box-sizing: border-box;
		}

		/* Create a column layout with Flexbox */
		.row {
		  display: flex;
		}

		/* Left column (menu) */
		.left {
		  flex: 35%;
		  padding: 15px 0;
		}

		.left h2 {
		  padding-left: 8px;
		}

		/* Right column (page content) */
		.right {
		  flex: 65%;
		  padding: 15px;
		}

		/* Style the search box */
		#mySearch {
		  width: 100%;
		  font-size: 18px;
		  padding: 11px;
		  border: 1px solid #ddd;
		}

		/* Style the navigation menu inside the left column */
		#myMenu {
		  list-style-type: none;
		  padding: 0;
		  margin: 0;
		}

		#myMenu li a {
		  padding: 12px;
		  text-decoration: none;
		  color: black;
		  display: block
		}

		#myMenu li a:hover {
		  background-color: #eee;
		}
 